@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Passion+One:wght@400;700;900&family=Patua+One&family=Paytone+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$backgroundHome:#1F2937;
$titleHome:#F9FAF8;
$textLinks:#E5E7EB;
$button:#3882F6;
$textInfo:#1F2937;
$backgroundPhrase:#E5E7EB;